<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title><%= titile %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  </head>
  <body>

    <div class="content" id="content">
      <img src="/i/01.png" >
      <img src="/i/02.png" >
      <img src="/i/05.png" >
      <img src="/i/03.png" >
      <img src="/i/04.png" >
      <img src="/i/06.png" >
      <img src="/i/07.png" >
    </div>


    <div class="play-btn" id="play-btn">
      <span>稍等加载中.....</span>
      <img src="/i/play_btn.png">
    </div>
    
    <script src="/js/music.js"></script>
  </body>
</html>